<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/input.css">
    <script defer src="/public/assets/scripts/main.js"></script>
    <title>Love Calculator</title>
</head>
<body>
    <main>
        <div class="hero-content">
            <div class="heading">
                <h1>Love Calculator</h1>
                <p>Measure your love meter</p>
            </div>
            <div class="input-container">
                <input id="first-input" class="input-menu" type="text">
                <p>Add your name</p>
                <input id="second-input" class="input-menu" type="text">
                <p>Add your partner name</p>
                <button>Measure</button>
            </div>
        </div>
    </main>
    <footer>
        <h6>Create with 💘 by Rian</h6>
        <p>Copyright</p>
    </footer>
</body>
</html>