/* googlefont */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet');

/* typography */
:root{
    --body-font: 'Roboto', sans-serif;
    --big-font-size:2rem;
    --h2-font-size:2rem;
    --normal-font-size:1.25rem;
}

/* base  */
*,::before,::after{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}
body{
    margin: var(--header-height) 0 0 0;
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

.hero-content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.heading{
    display: flex;
    flex-direction: column;
    flex: 0 1 auto;
    justify-content: center;
    align-items: start;
}

.input-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.heading h1{
    color: aqua;
    margin-bottom: 8px;
}

.heading p{
    font-size: 14px;
}

.input-menu{
    display: inline-block;
    float: right;
}